@import "tailwindcss";

@font-face {
  font-family: 'Double Porter';
  src: url('/font/Double Porter 3.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuperJoyful';
  src: url('/font/SuperJoyful-lxwPq.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FFF8F0;
  --foreground: #171717;
  --font-double-porter: 'Double Porter', sans-serif;
  --font-superjoyful: 'SuperJoyful', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-double-porter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF8F0;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-double-porter);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 8s linear infinite;
}
